Student: Satish Byrow

#Import and Loading

## Load Libraries

In [25]:
#Load Libraries
import pandas as pd

## Load Data

In [26]:
# Mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Data Source First choice: dataset 1
 - https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

In [27]:
## Loading data from published google sheet
fpath ="/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week05/Data/healthcare-dataset-stroke-data.csv"
df_main = pd.read_csv(fpath)

In [28]:
#Make a copy so we dont break the original data set and avoid any manipulations
df = df_main.copy()

##Explore Data Set

In [29]:
#Check then data
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

###Brief Description of Data
- The data is a view of patients that have or have not had a stroke based on Gender, Age, BMI, heart disease and if they have smoked<br>

###Target
- The stroke column is the target to identify if a person is at risk of a stroke

###Row Classification
- Each row represents a persons profile details

###Feature Count
- There are 10 valid features. The ID column can be dropped as it does not represent valid data. The target column is stroke.

###Type of Problem
- This data set is identfied as a classification problem as the person can either be at risk of a stroke or not

In [30]:
#Explore the dataset more
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

###Rows in Dataset
- 5110

In [31]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

###What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset
- Cleaning: Null values in BMI field
- Exploring: Different data types(int64. object and float64)
- Modeling: Choosing the correct models like KNN that would work but may process slower

##Load Data

###Data Source Second choice: dataset 2
 - https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

In [32]:
## Loading data from published google sheet
fpath ="/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week05/Data/adult.csv"
df_main2 = pd.read_csv(fpath)

In [33]:
#Make a copy so we dont break the original data set and avoid any manipulations
df_adult = df_main2.copy()

##Explore Data Set

In [34]:
#Check then data
df_adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

###Brief Description of Data
- The data is a view of a working class adult profile and current income range<br>

###Target
- The income column is the target to identify how the features predict the income and therefore is a regression model

###Row Classification
- Each row represents a persons profile details around skills and education

###Type of Problem
- This data set is identfied as a regression problem as the persons profile determine the salary

###Feature Count
- There are 14 valid features. The target column is income.

In [35]:
#Explore the dataset more
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

###Rows in Dataset
- 48842 rows has been identified

In [36]:
df_adult.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

###What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset
- Cleaning: Invalid values in working class and occupation field
- Exploring: Different data types(int64, object) where the target is an object and will need to be convert to float.
- Modeling: Choosing the correct regression models and tuning them with the correct hyperparameters